.headerRow {
  background-color: #008E89;
  color: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.bi {
  cursor: pointer;
}

.headerBg {
  background-image: url("./img/hotel_bg_md.png");
  background-position: 0% 70%;
  height: 300px;
  margin-bottom: -210px;
}

.mainTitle {
  color: antiquewhite;
  text-shadow:  0 0 5px black, 0 0 5px black;
}

.digitsOutline {
  border: 2px black;
}

.counts {
  margin-left: 5px;
}

.carousel-inner {
  border-radius: 20px;
}